<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
<!--! This is main page template used for all other pages. -->
 <head profile="http://purl.org/uF/2008/03/ http://purl.org/uF/hAtom/0.1/">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="author" content="Michal Čihař" />
  <meta name="copyright" content="Copyright &copy; 2010 - 2017 Michal Čihař" />
  <meta name="google-site-verification" content="OoIeZvt7tZAQskiHa913bYF-jrQTWJ1c0NZxVCTrjTw" />
  <link rel="copyright" href="/info/" />
  <title>{% block title %}Kolik dluží naši politici?{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/media/style.css" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <meta name="robots" content="index, follow" />
  {% block header %}{% endblock %}
 </head>
 <body>
  <div id="header">
   <h1><a href="/">Kolik dluží naši politici?</a></h1>
   <div class="clearer"></div>
  </div>

  <div id="body">
  {% block content %}{% endblock %}
  </div>

  <ul id="footer">
    <li>Copyright &copy; 2010 - 2017 <span class="vcard"><a class="url fn" href="https://cs.cihar.com/">Michal Čihař</a><a href="mailto:michal@cihar.com" class="email"></a></span></li>
    <li><a href="/info/">O stránkách</a></li>
    <li><a href="/info/#bilance">Výpočet</a></li>
  </ul>

<script type="text/javascript">
  window.___gcfg = {lang: 'cs'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://stats.cihar.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 9]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="https://stats.cihar.com/piwik.php?idsite=9" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
 </body>
</html>


