{% extends "base.html" %}


{% block header %}
<script type="text/javascript" src="/chart.js"></script>
{% endblock %}

{% block content %}

<h2><a href="/ministri/">Největší dlužníci</a></h2>
<table>
<thead>
<tr><th>Ministr</th><th>Strana</th><th>Bilance</th></tr>
</thead>
<tbody>
{% for ministr in top %}
<tr><td>{{ ministr.get_link }}</td><td>{{ ministr.strana }}</td><td class="bil">{{ ministr.bilance }} mil. Kč</td></tr>
{% endfor %}
</tbody>
</table>

<h2>Vývoj rozpočtu ČR v mil. Kč</h2>
<div id="chart_div"></div>

{% endblock %}

