{% extends "base.html" %}

{% block title %}Kolik dluží? - O stránkách{% endblock %}

{% block content %}

<h2>O stránkách</h2>

<p>
Tyto stránky byly inspirovány zasíláním složenek stranou TOP 09 v rámci
předvolební kampaně před volbami do poslanecké sněmovny parlamentu ČR.
</p>

<h3 id="bilance">Výpočet bilance</h3>
<p>
Dluh pro politiky je počítán podobným způsobem jako plus-mínus bilance v
hokeji - každému politikovi je započítán výsledek rozpočtu na jehož
návrhu se podílela vláda, ve které byl v té době členem.
</p>

<h3 id="strany">Stranická příslušnost</h3>
<p>
Informace o stranické příslušnosti jsou orientační, protože mnoho členů
vlád bylo jen nominováno některou stranou, jiní zase během své politické
kariéry vystřídali stran několik. V tomto případě by měla být uvedena
aktuální strana jejíž je členem (případně na jejíž kandidátce se
vyskytuje).
</p>

<h3 id="zdroje">Zdroje</h3>
<p>
Údaje o rozpočtu jsou čerpány ze systému
<a href="http://wwwinfo.mfcr.cz/cgi-bin/psp/603Utabulka.pl">ARIS</a>,
informace o ministrech z webu 
<a
href="http://www.vlada.cz/cz/clenove-vlady/historie-minulych-vlad/prehled-vlad-cr/1993-2007-cr/default.htm">vlada.cz</a>.
Politická příslušnost je povětšinou čerpána z <a href="http://cs.wikipedia.org/">Wikipedie</a>.
</p>

{% endblock %}


