{% extends "base.html" %}



{% block title %}Kolik dluží {{ ministr.jmeno }}?{% endblock %}

{% block content %}

<h2>Kolik dluží {{ ministr.jmeno }}?</h2>

<p>{{ ministr.jmeno }} se podílel(a) na přípravě následujících rozpočtů:</p>

<table>
<thead>
<tr><th>Rok</th><th>Příjmy</th><th>Výdaje</th><th>Bilance</th></tr>
</thead>
<tfoot>
<tr><td>Celkem</td><td class="bil">{{ summary.prijmy }} mil. Kč</td><td class="bil">{{ summary.vydaje }} mil. Kč</td><td class="bil">{{ summary.bilance }} mil. Kč</td></tr>
</tfoot>
<tbody>
{% for vlada in ministr.vlada_set.all %}
<tr><td>{{ vlada.rozpocet.rok }}</td><td class="bil">{{ vlada.rozpocet.prijmy }} mil. Kč</td><td class="bil">{{ vlada.rozpocet.vydaje }} mil. Kč</td><td class="bil">{{ vlada.rozpocet.bilance }} mil. Kč</td></tr>
{% endfor %}
</tbody>
</table>

<h3>Další informace</h3>

{% if ministr.strana %}
<p>Stranická příslušnost<sup class="note"><a href="/info/#strany">pozn.</a></sup>: {{ ministr.strana.get_link }} {% if ministr.strana.url %}(<a href="{{ ministr.strana.wikipedia }}">Wikipedia</a>){% endif %}</p>
{% endif %}

{% if ministr.wikipedia %}
<p>Podívejte se také na Wikipedii na článek <a href="{{ ministr.wikipedia }}">{{ ministr.jmeno }}</a>.</p>
{% endif %}

{% if ministr.url %}
<p>Podívejte se také na jeho <a href="{{ ministr.url }}">osobní stránky</a>.</p>
{% endif %}

{% endblock %}



